/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header / Navigation Bar Style */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header .logo h1 {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Section Style */
main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/images/banner3.jpg");
    color: white;
}

.welcome-container {
    max-width: 600px;
    padding: 30px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.welcome-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 20px;
    margin-bottom: 30px;
}

.welcome-container button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #d8a826;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcome-container button:hover {
    background-color: black;
}

/* Footer Style */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}
